ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a:active {
  color: #4d5ae5;
  text-decoration: underline;
}
.link,
.logo {
  text-decoration: none;
}
.logo-top {
  margin-right: 76px;
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
}
.page-navigation {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  column-gap: 40px;
}
.contact-title {
  display: flex;
  column-gap: 40px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section:not(.benefits-sect) {
  padding-top: 120px;
  padding-bottom: 120px;
}
.top-sect {
  padding-top: 188px;
  padding-bottom: 188px;
}
.benef-thumb {
  display: flex;
}
.benefits-list {
  display: flex;
  gap: 24px;
  padding: 120px 0;
  width: 1128px;
}
.benef-item {
  display: flex;
  flex-direction: column;
  width: 264px;
  justify-content: center;
}
.benefits-name {
  margin-bottom: 8px;
}
.main-button:hover,
.main-button:focus {
  background: #404bbf;
}
.main-button {
  /* Button Text */
  font-family: inherit;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.logo > span {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.menu-item {
  /* Body Medium */
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2e2f42;
}
.menu-item:hover,
.menu-item:focus {
  /* Body Medium */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #404bbf;
}

.contact {
  /* Body */

  font-style: normal;
}
.contact-list {
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-list:hover,
.contact-list:focus {
  /* Body */
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #404bbf;
}
.top-sect,
.bottom-section {
  background-color: #2e2f42;
}

h1 {
  /* Header 1 */
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 48px;
  color: #fff;
}
.section-title {
  /* Header 2 */
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
h3 {
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  color: #2e2f42;
}
p {
  /* Body */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #434455;
}
.team-sect {
  background-color: #f4f4fd;
}
.team-title,
.portfolio-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-card {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.person-style-thumb {
  padding: 32px 0;
}
.team-card:hover {
  background: #fff;
}
.portf-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-name {
  text-align: left;
  margin-bottom: 8px;
  align-self: stretch;
}
.portfolio-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  column-gap: 48px;
  width: calc((100% - 48px);
  background: #fff;
}
.app-style-thumb {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-text{
  align-self: stretch;
}
.bottom-section {
  padding: 100px 0;
}
.footer-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.bottom-text {
  /* Body */
  font-size: 16px;
  font-weight: 400;
  width: 264px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-logo{
    display: inline-block;
  margin-bottom: 16px;
}
.bottom-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
